body{
    background-color: rgb(248, 239, 241);
    
}
button{
    background-color: rgb(207, 191, 182);
    margin: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;

}
button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.title{
    color: rgb(160, 134, 95);
}
.moive-img{
    border-radius: 25px;
    margin: 20px;


}
.moive-img:hover{
     
    opacity: 0.7;
}
h3{
    font-weight: bold;
}

.movie-continer{
   
border-radius: 10px;
margin: 10px;
border: 2px solid black;
margin-bottom: 10px;
height:500px;
}
.moviebox{
display: grid;
grid-template-columns: 1fr 1fr ;
align-items:center ;
}
.movie-title{
    font-size: medium;
}